<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <p>This is the dashboard page. You are logged in!</p>
    <p>You can add more websites to the various pages, like a website for restaurant. Hurraaayyyyy</p>
    <a href="{{ profile_url }}" class="button">Go to Profile</a>
</body>
</html>
